@import url('https://fonts.googleapis.com/css?family=Roboto');

$offwhite: #EAE0D5;
$patina: #699;
$offblack: #0A0908;
$blue: #22333B;
$khaki: #C6AC8F;
$umber: #5E503F;

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $patina;
}
.nav{
    display: flex;
    align-items: center;
    min-height: 9vh;
    width: 100vw;
    background-color: #2C2D38;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    text-decoration: none;  
}
label{
    margin: 0 5px;
    color: white;
}
select {
    margin: 0 5px;
    display: inline-block;
    padding: 10px 5px;
}
option {
    padding: 10px 5px;
}
.main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.content {
    min-height: 50vh;
    width: 80%;
}

.coinItem {
    box-sizing: border-box;
    border: 1px solid $umber;
    color: white;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 200px;
    align-items: center;
    background-color: $offblack;
}
.coin-details{
    padding-top: 50px;
}
.red{
    color: red !important;
}
.green{
    color: green !important;
}
.loader-overlay{
    position: fixed;
    top: 9vh;
    height: 91vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $offblack;
}
.fadeOut{
    opacity: 0;
    transition: all 100ms linear;
}
.loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px $offblack solid;
    border-right: 10px rgba(150,150,150, 0.3) solid;
    border-left: 10px rgba(150,150,150, 0.3) solid;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    animation: loader 1s infinite;

}
.refresh{
    border: 1px solid white;
    height: 5vh;
    width: 5vh;
    color: white;
    font-size: 35px;
    text-align: center;
    padding-bottom: 5px;
}
.refresh:hover {
    color: $offblack;
    background-color: $offwhite;
}
@keyframes loader {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}
@media(max-width: 768px){
    .nav{
        justify-content: center;
        min-height: 15vh;
    }
    .main{
        padding-top: 0;
        padding-bottom: 0;
    }
    .content{
        width: 100%;
    }
}